
@{
    ViewBag.Title = "Not Found";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<div class="error-page">
    <div class="error-page-type">
        <h1>Oops!</h1>
        <h2>404 - @MultiLanguage.Resource.NTFND_THIS_PAGE_HAS_BEEN_REMOVED</h2>
    </div>
    <a href="/Home/Index">@MultiLanguage.Resource.NTFND_BACK_TO_HOME</a>
</div>


