
@using TelephoneDirectory.Model.ViewModel.Partials
@model VMAreaSideBarMenu

<!-- BEGIN SIDEBAR -->
<div class="sidebar">
    <div class="logopanel">
        <h1>
            <a href="/Admin/Employee/List"></a>
        </h1>
    </div>
    <div class="sidebar-inner">
        <div class="sidebar-top">
            <div class="userlogged clearfix">
                <i class="icon icons-faces-users-01"></i>
                <div class="user-details">
                    <h4>@Model.DisplayName</h4>
                </div>
            </div>
        </div>
        <ul class="nav nav-sidebar">
            <li class="nav-parent">
                <a href=""><i class="icon-user"></i><span>Employee Management</span><span class="fa arrow"></span></a>
                <ul class="children collapse">
                    <li><a href="/Admin/Employee/List"> Employee List</a></li>
                    <li><a href="/Admin/Employee/Create">  Create Employee</a></li>
                </ul>
            </li>
            <li class="nav-parent">
                <a href=""><i class="fa fa-building"></i><span>Department Management</span><span class="fa arrow"></span></a>
                <ul class="children collapse">
                    <li><a href="/Admin/Department/List"> Department List</a></li>
                    <li><a href="/Admin/Department/Create">  Create Department</a></li>
                </ul>
            </li>
        </ul>

        <!-- SIDEBAR WIDGET FOLDERS -->
        <div class="sidebar-footer clearfix">
            <a class="pull-left footer-settings" href="#" data-rel="tooltip" data-placement="top" data-original-title="Settings">
                <i class="icon-settings"></i>
            </a>
            <a class="pull-left toggle_fullscreen" href="#" data-rel="tooltip" data-placement="top" data-original-title="Fullscreen">
                <i class="icon-size-fullscreen"></i>
            </a>
            <a class="pull-left" href="#" data-rel="tooltip" data-placement="top" data-original-title="Lockscreen">
                <i class="icon-lock"></i>
            </a>
            <a class="pull-left btn-effect" href="/Admin/Account/Logout" data-modal="modal-1" data-rel="tooltip" data-placement="top" data-original-title="Logout">
                <i class="icon-power"></i>
            </a>
        </div>
    </div>
</div>
<!-- END SIDEBAR -->