
@using TelephoneDirectory.Model.ViewModel.Partials
@model VMAreaTopBarMenu

<!-- BEGIN TOPBAR -->
<div class="topbar">
    <div class="header-left">
        <div class="topnav">
            <a class="menutoggle" href="#" data-toggle="sidebar-collapsed"><span class="menu__handle"><span>Menu</span></span></a>
            <ul class="nav nav-icons">
                <li><a href="#" class="toggle-sidebar-top"><span class="icon-user-following"></span></a></li>
            </ul>
        </div>
    </div>
    <div class="header-right">
        <ul class="header-menu nav navbar-nav">
            <!-- BEGIN USER DROPDOWN -->
            <li class="dropdown" id="user-header">
                <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    <img src="~/Areas/Admin/assets/global/images/avatars/user1.png" alt="user image">
                    <span class="username">@Model.DisplayName</span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/Admin/Employee/ChangePassword"><i class="icon-lock"></i> <span>Change password</span></a>
                    </li>
                    <li>
                        <a href="/Admin/Account/Logout"><i class="icon-logout"></i> <span>Logout</span></a>
                    </li>
                </ul>
            </li>
            <!-- END USER DROPDOWN -->
        </ul>
    </div>
</div>
<!-- END TOPBAR -->